body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Parkinsans", sans-serif;
  color: #444444 !important;
  font-size: 1.2rem;
}

.light-section {
  background-color: #f2fafa;
  text-align: left;
  padding: 2rem;
}
.dark-section {
  background-color: #244b5317;
  text-align: left;
  padding: 2rem;
}
h2{
  color: #274a51;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 1rem;
}
.breadcrumb-section {
  background-color: rgb(0 40 69);
  text-align: center;
  padding: 2rem;
  /* height: 200px; */
}
.breadcrumb-section .page-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
  margin-bottom: 1rem;
}
.breadcrumb-section .page-subheading {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fb8500;
  font-style: italic;
}
.section-content {
  width: 80%;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.col-2 {
  width: 50%;
}
.heading-style {
  width: max-content;
  margin: 0 auto;
  border-bottom: 4px solid #022054;
}
@media (max-width: 576px) {
  .section-content {
    width: 100%;
  }
  .dark-section .light-section {
    padding: 0;
  }
  .dark-section {
    padding: 1rem;
  }
  .dark-section p {
    padding: 1rem;
  }
  .light-section {
    padding: 1rem;
  }
}
