header {
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px black;
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  width: -webkit-fill-available;
  height: 60px;
  z-index: 99;
}
header > .nav-logo a {
  text-decoration: none;
}
header > .nav-logo figure {
  margin: 0;
}
header > nav > ul.nav-links {
  display: flex;
  gap: 2rem;
  margin: 0 !important;
  padding: 0 !important;
}
header > nav > ul.nav-links li {
  list-style: none;
}
header > nav > ul.nav-links li a {
  color: #444444;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.3s ease;
}
header > nav > ul.nav-links li a:hover,
header > nav > ul.nav-links li a.active {
  color: #2ca6a2;
}
#menu-icon {
  display: none;
  cursor: pointer;
}
#mobilemenu {
  display: none;
}

@media (max-width: 768px) {
  header > nav > ul.nav-links {
    display: none;
  }
  #menu-icon {
    display: block;
    color: #444;
    position: relative;
    z-index: 100;
  }
  #mobilemenu {
    display: block;
    position: fixed;
    top: 15px;
    right: 15px;
    background: #fff;
    padding: 1rem;
    transition: transform 0.3s ease;
  }
  #mobilemenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background: white;
    padding: 1rem 2rem;
    right: 0px;
  }
  #mobilemenu ul li {
    margin-bottom: 0.5rem;
  }
  #mobilemenu ul li a {
    color: #444;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
  }
  #mobilemenu ul li a:hover,
  #mobilemenu ul li a.active {
    color: #2ca6a2;
    font-weight: 600;
  }
}
