footer {
  background-color: #19272a;
  color: #ffffff;
  padding: 2.75rem 1.5rem;
}
footer > .footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer > .footer-content div figure {
  margin: 0;
  padding: 0;
}
footer > .footer-content > .footer-links {
  margin: 0;
  padding: 0;
}
footer > .footer-content > .footer-links li {
  list-style: none;
  margin-bottom: 0.5rem;
}
footer > .footer-content > .footer-links li a {
  color: white;
  text-decoration: none;
}
footer > .footer-bar {
  color: white;
  text-align: center;
  border-top: 0.5px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer > .footer-bar a{
  text-decoration: none;
  color: white;
}

@media (max-width: 576px) {
  footer {
    padding: 1rem;
}
  footer > .footer-bar {
    flex-direction: column;
  }
}
