footer {
  background-color: #19272a;
  color: white;
  padding: 2em 2em 0 2em;
}
footer .footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}
footer .footer-container > div {
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 33%;
}
footer .footer-container > div:nth-child(1) {
  align-items: flex-start;
}
footer .footer-container > div:nth-child(3) {
  align-items: flex-end;
}
footer .footer-container .footer-content figure {
  margin: 0;
}
footer .footer-container .footer-content figure img {
  width: 50px;
  height: 40px;
}
footer .footer-container .footer-content figure figcaption {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}
footer .footer-container .footer-socials {
  display: flex;
  gap: 2rem;
  font-size: 24px;
}
footer .footer-links {
  text-align: center;
}
footer .footer-socials .footer-social-link i {
  color: #fff;
}
footer .footer-links ul {
  list-style: none;
  padding: 0;
}
footer .footer-links ul li {
  margin: 0.5rem 0;
  line-height: 2em;
}
footer .footer-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
}
footer .footer-address h4 {
  text-align: left;
}
footer .footer-address .detail {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
footer .footer-address .detail i {
  margin-right: 1rem;
  color: #fff;
}
footer .footer-address .detail p {
  margin: 0;
}
footer .footer-address .detail a {
  color: white;
  text-decoration: none;
}
footer .footer-bar {
  color: white;
  padding: 0.5em 2em;
  text-align: center;
  border-top: 0.5px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footer-container {
  display: flex;
}
footer .footer-container p {
  padding-right: 1rem;
}
@media (max-width: 576px) {
  footer {
    padding: 1em 0em 0 0em;
  }
  footer .footer-container {
    display: block;
  }
  footer .footer-container > div {
    width: 100%;
    text-align: left;
  }
  footer .footer-links ul li {
    text-align: left;
  }
  footer .footer-container .footer-content figure img {
    padding-left: 1rem;
  }
  footer .footer-container .footer-socials {
    padding-bottom: 1rem;
    padding-right: 1rem;
  }
  footer .footer-bar {
    flex-direction: column;
    padding: 0;
  }
}
